{% block oh_google_maps_widget %}
{% set scriptLoaderAvailable = lcn_include_assets_available is defined and lcn_include_assets_available %}
<div {{ block('widget_container_attributes') }}>
	{% block oh_google_maps_html %} 
	<div id="{{ id }}_container">
		<input type="text" id="{{ id }}_input" /><button id="{{ id }}_search_button" class="btn">Search</button><br /><a href="#" id="{{ id }}_current_position">Current location</a>
		<div id="{{ id }}_map_canvas" class="gmap" style="width: {{ map_width }}px; height: {{ map_height }}px"></div>
		<div id="{{ id }}_error"></div>
	</div>
	{% endblock %}
	{% block oh_google_maps_fields %} 
		{% for child in form %}
		    {{ form_row(child) }}
        {% endfor %}
	{% endblock %}
	{% block oh_google_maps_javascripts %}
		{% if include_jquery %}
			{% if scriptLoaderAvailable %}
				{{ lcn_use_javascript('//ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js') }}
			{% else %}
				<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
			{% endif %}
		{% endif %}
		{% if include_gmaps_js %}
			{% if scriptLoaderAvailable %}
				{{ lcn_use_javascript('//maps.google.com/maps/api/js?sensor=true"') }}
			{% else %}
				<script src="//maps.google.com/maps/api/js?sensor=true"></script>
			{% endif %}
		{% endif %}
		{% javascripts
			'@OhGoogleMapFormTypeBundle/Resources/public/js/jquery.ohgooglemaps.js'
		%}
			{% if scriptLoaderAvailable %}
				{{ lcn_use_javascript(asset_url) }}
			{% else %}
				<script src="{{ asset_url }}"></script>
			{% endif %}

		{% endjavascripts %}
	{% endblock %}
	{% block oh_google_maps_javascript %}
		{% block oh_google_maps_callback %}
			<script>
				var oh_google_maps_callback = function(location, gmap){
					// your callback function here
				}
			</script>	
		{% endblock %}
		{% if scriptLoaderAvailable %}
			{{ lcn_use_inline_javascript(include("OhGoogleMapFormTypeBundle:Form:inline_script.html.twig")) }}
		{% else %}
			<script>{% include "OhGoogleMapFormTypeBundle:Form:inline_script.html.twig" %}</script>
		{% endif %}
	{% endblock %}
</div>
{% endblock %}
